[Unit]
Description=Fotobox Uploader Webinterface
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/photobox-uploader
ExecStart=/home/pi/photobox-uploader/venv/bin/python app.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
